<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./styles/style-trabalhe-conosco.css" />
    <title>byJulia Trabalhe Conosco</title>
  </head>
  
  <body>
    <header>
      <h1 id="logo">byJulia</h1>
      <ul class="header-list">
        <li>Joias</li>
        <li>Infantil</li>
        <li>Casamento</li>
        <li>Presentes</li>
      </ul>


      <div class="header-list">
          <form id="menu-search">
          <input
            type="text"
            id="products"
            name="products"
            placeholder="O que você procura hoje?"
          />
          <label><i class="fa-solid fa-magnifying-glass"></i></label>
          </form>
          <i class="fa-solid fa-user"></i>
          <i class="fa-solid fa-cart-shopping"></i>
      </div>
    </header>
    <img src="../img/image_header.jpg" alt="">

    
  <main>
       
          <section class="trabalhe-conosco">
              <h1>Trabalhe Conosco</h1>
              <h3>Envie seu currículo para gente.</h3>
          </section>

          
              
          
              <div class="inf-formulario"> 
                  <form class="button">
                      <label for="nome">Nome</label><br>
                      <input type="text" id="nome" name="nome">
                      <br>
                      <label for="email">Email</label><br>
                      <input type="email" name="email" id="email"><br>
                     <label for="tel">Telefone</label><br>
                      <input type="tel" name="tel" id="tel">
                      </form>
                      <form class="inf-segundo">
                      <label >Departamentos</label>
                      <select name="dep" id="dep">
                          <option>Selecionar</option>    
                          <option value="financeiro">Financeiro</option>
                              <option value="sac">Recursos Humanos</option>
                              <oPtion value="vendas">Vendas</OPtion>
                              <option value="tecnologia">Tecnologia</option>
                      </select> </form>
                      <label >Disponibilidade</label> 
                       <form class="inf-terceira">
                      <label for="int">integral(8h)</label><input type="checkbox" id="int" name="dis" value="integral(8h)">
                      <label for="meio">Meio Período(4h)</label><input type="checkbox" id="meio" name="dis" value="meio periodo"> 
                      <label for="free">Freelancer</label><input type="checkbox" id="free" name="dis" value="freelancer"> 
                  </form>
                     <label >Qual a melhor forma para entrarmos em contato com você?</label>
                      <form class="inf-quarta">
                     
                      <input type="radio" name="contato" id="contato" value="email"><label for="contato">Email</label>
                      <input type="radio" name="contato" id="contato" value="ligacao"><label for="contato">Ligação</label>
                      <input type="radio" name="contato" id="contato" value="whatsApp"><label for="contato">WhatsApp</label>
                  </form>
                      <label >Mensagem</label>
                      <form class="inf-quinta">
                      
                      <textarea name="mens" id="mens" cols="30" rows="10"></textarea><br>
                   </form>   
                   <form class="botoes">
                      <div class="bt-upload">
                      <label>Curriculo</label><button>Upload</button></div> <br>
                  <div class="bt-enviar">
                      <button>Enviar</button></div></form>
                  
  
              </div>
          
      </main>
     
    <footer>
      <section>
        <ul>
          <h2>Nossas Informações</h2>

          <li>Sobre a byJulia</li>
          <li>Trabalhe Conosco</li>
          <li>Membros</li>
          <li>Fale conosco</li>
          </ul>
      </section>
      
      <section>
        <ul>
         
          <li><i class="fab fa-linkedin-in"></i></li>
          <li><i class="fab fa-twitter"></i></li>
          <li><i class="fab fa-github"></i></li>
        </ul>
      </section>
    </footer>
  </body>
</html>
<script src="https://kit.fontawesome.com/1b82f5acb9.js" crossorigin="anonymous"></script>
