<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Byjulia painel do Usuário</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./styles/style-painel-do-usuário.css" />

</head>

<body>
    <section id="promotion">OFERTA 100% em todos os produtos</section>
    <header>
        <h1 id="logo">byJulia</h1>
        <nav id="header-list">
            <a href="#">Home</a>
            <a href="./public/views/pagina-products.html">Produtos</a></li>
            <a href="#">Sobre</a>
        </nav>

        <div class="header-list">
            <form id="menu-search">
                <input type="text" id="products" name="products" placeholder="O que você procura hoje?" />
                <label for="products"><i class="fa-solid fa-magnifying-glass"></i>
                </label>
            </form>
            <a href="./public/views/pagina-login.html" target="_self"><i class="fa-solid fa-user"></i></a>
            <a href="./public/views/pagina-carrinho.html"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
    </header>
    <main>
        <section class="painel-do-usuário">
            <div>
                <h1>Painel do Usuário</h1>
            </div>
            <section>
                <div class="container-1">
                    <div class="container-nome-idade">
                        <img
                            src="https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                            alt="">
                        <div>
                            <div>
                                <h3>Eduardo de Souza</h3>
                                <span class="editar">&#9998;</span>
                            </div>

                            <div>
                                <h4>29 anos</h4>
                                <span class="editar">&#9998;</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="container-ultimas-compras">
                        <div>
                            <h2>Ultimas compras:</h2>
                        </div>
                        <div class="produtos">
                            
                            <section class="valor-produtos">
                                
                              <div>  
                                <img src="../img/anel1.webp" alt=""> 
                              </div>
                                <p class="lancamento">Lançamento</p>                              
                                <p class="title-produto">Anel de Diamantes</p>
                                <p class="valor-produto">R$ 51.200,00</p>
                                <p class="juros">10x sem juros de R$51.200,00</p>
                                <a href="./public/views/pagina-carrinho.html">Adicione ao carrinho</a>
                              
                            </section>
                            <section class="valor-produtos">
                                
                                <div>  
                                  <img src="../img/anel1.webp" alt=""> 
                                </div> 
                                <p class="lancamento">Lançamento</p> 
                                <p class="title-produto">Anel de Diamantes</p>
                                <p class="valor-produto">R$ 51.200,00</p>
                                <p class="juros">10x sem juros de R$51.200,00</p>
                                <a href="./public/views/pagina-carrinho.html">Adicione ao carrinho</a>
                              
                            </section>
                            <section class="valor-produtos">
                                
                                    <div>  
                                    <img src="../img/anel1.webp" alt=""> 
                                    </div> 
                                    <p class="lancamento">Lançamento</p> 
                                    <p class="title-produto">Anel de Diamantes</p>
                                    <p class="valor-produto">R$ 51.200,00</p>
                                    <p class="juros">10x sem juros de R$51.200,00</p>
                                    <a href="./public/views/pagina-carrinho.html">Adicione ao carrinho</a>
                            </section>
                        </div>  
                                
                    </div>     
                           
                </div>       
                            
                    
                <div class="container-2">
                    <div>
                        <div>
                            <span>
                                Endereço:
                            </span>
                            <span class="editar">&#9998;</span>
                        </div>
                        
                        <p>rua dezesseis, 531, extensão
                            serramar, rio das ostras - rj</p>
                    </div>
                    <div>
                        <div>
                            <span>
                                Email:
                            </span>
                            <span class="editar">&#9998;</span>
                        </div>
                        
                        <p>edudesouza01@digitalhouse.com</p>
                    </div>
                    <div>
                        <div>
                            <span>
                                Senha: 
                            </span>
                            <span class="editar">&#9998;</span>
                        </div>
                        
                        <p>******</p>
                    </div>
                    <div>
                        <div>
                            <span>
                                Endereço de entrega: 
                            </span>
                            <span class="editar">&#9998;</span>
                        </div>
                        
                        <p>rua Paraíba, 666, Abricó das Alamedas - Fortaleza - RJ</p>
                    </div>
                    <div>
                        <div>
                            <span>
                                Telefone: 
                            </span>
                            <span class="editar">&#9998;</span>
                        </div>
                        
                        <p>(xx) 9xxxx-xxxx</p>
                    </div>
                </div>
                
            </section>


        </section>
    </main>
    <footer id="footer-principal">
        <section class="footer-sobre-nos">
            <h3>História</h3>
            <ul>
                <li><a href="#">Por que byJulia?</a></l>
                <li><a href="#">Nossos diferenciais</a></li>
                <li><a href="#">Membros</a></li>
            </ul>
        </section>

        <section class="footer-sobre-nos">
            <h3>Lorem.</h3>
            <ul>
                <li><a href="#">Lorem, ipsum.</a></l>
                <li><a href="#">Lorem, ipsum dolor.</a></li>
                <li><a href="#">Lorem, ipsum dolor.</a></li>
            </ul>
        </section>

        <section id="endereco">
            <h3>Endereço</h3>
            <img src="../img/maps.jpg" alt="">
        </section>

    </footer>

</body>

</html>
<script src="https://kit.fontawesome.com/1b82f5acb9.js" crossorigin="anonymous"></script>