<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./styles/style-fale-conosco.css"/>
    <link rel="stylesheet" href="./styles/style.css">
    <script src="../javascript/fale-conosco.js"></script>
    <title>byJulia Fale Conosco</title>
  </head>

  <body>
    <section id="promotion">OFERTA 100% em todos os produtos</section>
    <header>
      <h1 id="logo">byJulia</h1>
      <nav id="header-list">
        <a href="#">Home</a>
        <div class="dropdown">
          <a class="dropbtn">Produtos</a>
          <div class="dropdown-content">
            <a href="./public/views/pagina-products.html">Anéis</a>
            <a href="./public/views/pagina-products.html">Relógios</a>
            <a href="./public/views/pagina-products.html">Correntes</a>
            <a href="./public/views/pagina-products.html">Brincos</a>
          </div>
        </div>
        <a href="#">Sobre</a>
      </nav>

      <div class="header-list">
        <form id="menu-search">
          <input
            type="text"
            id="products"
            name="products"
            placeholder="O que você procura hoje?"
          />
          <label for="products"
            ><i class="fa-solid fa-magnifying-glass"></i>
          </label>
        </form>
        <a href="./public/views/pagina-login.html" target="_self"
          ><i class="fa-solid fa-user"></i
        ></a>
        <i class="fa-solid fa-cart-shopping"></i>
      </div>
    </header>

    <main>
      <h1>Entre em contato com a gente!</h1>
      <p>Mande uma pergunta pelos nossos canais digitais ou pelo e-mail.</p>
      <div class="errors">
        <ul></ul>
      </div>
      <div class="container-main">
        <form class="trabalhe-conosco" method="post">
          <div class="form-dados">
            <label for="name">Nome</label>
            <input type="text" id="name" name="fale-conosco" placeholder="Digite seu nome" required/>
          </div>

          <div class="form-dados">
            <label for="email">Email</label>
            <input type="email" id="email" name="fale-conosco" placeholder="me@you.com" required/>
          </div>
          <div class="form-dados">
            <label for="mensagem">Mensagem</label>
            <textarea name="fale-conosco" id="mensagem" required></textarea>
          </div>
          <button type="submit">Enviar</button>
        </form>
        <div class="politica-qualidade">
          <h1>Politica de Qualidade</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
            quae nihil unde nulla fuga voluptate sit eveniet doloremque eligendi
            ratione?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae, doloremque?
          </p>
        </div>
      </div>
    </main>

    <footer id="footer-principal">
      <section class="footer-sobre-nos">
        <h3>História</h3>
        <ul>
          <li><a href="#">Por que byJulia?</a></l>
          <li><a href="#">Nossos diferenciais</a></li>
          <li><a href="#">Membros</a></li>
        </ul>
      </section>
      <section class="footer-sobre-nos">
        <h3>Lorem.</h3>
        <ul>
          <li><a href="#">Lorem, ipsum.</a></l>
          <li><a href="#">Lorem, ipsum dolor.</a></li>
          <li><a href="#">Lorem, ipsum dolor.</a></li>
        </ul>
      </section>
      <section id="endereco">
        <h3>Endereço</h3>
        <img src="../../public/img/maps.jpg" alt="localizacao da loja">
      </section>      

    </footer>
  </body>
</html>
