<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./styles/style-products.css" />
    <script src="../javascript/catalogo-card.js" defer></script>
    <title>byJulia</title>
  </head>
  <body>
    <section id="promotion">OFERTA 100% em todos os produtos</section>
    <header>
      <h1 id="logo">byJulia</h1>
      <nav>
        <a href="#">Home</a>
        <div class="dropdown">
          <a class="dropbtn">Produtos</a>
          <div class="dropdown-content">
            <a href="./pagina-products.html">Anéis</a>
            <a href="./pagina-products.html">Relógios</a>
            <a href="./pagina-products.html">Correntes</a>
            <a href="./pagina-products.html">Brincos</a>

          </div>
        </div>
        <a href="#">Sobre</a>
      </nav>

      <div class="header-list">
        <form id="menu-search">
          <input
            type="text"
            id="products"
            name="products"
            placeholder="O que você procura hoje?"
          />
          <label for="products"
            ><i class="fa-solid fa-magnifying-glass"></i>
          </label>
        </form>
        <a href="./pagina-login.html" target="_self"
          ><i class="fa-solid fa-user"></i
        ></a>
        <a href="./pagina-carrinho.html"><i class="fa-solid fa-cart-shopping"></i></a>
      </div>
    </header>

    <main>

      <section id="carousel">
        <div class="carousel-image fade">
          <img src="./public/img/banner.png" alt=""/>
        </div>
  
        <div class="carousel-image fade">
          <img src="./public/img/banner2.png" alt=""/>
        </div>
  
        <div class="carousel-image fade">
          <img src="./public/img/banner3.png" alt=""/>
        </div>
      </section>
      
          <div id="container-banner">
            <span class="image-cont"></span>
            <span class="image-cont"></span>
            <span class="image-cont"></span>
          </div>

      <section class="navegue-categorias">
        <div>
        <h2>NAVEGUE POR CATEGORIAS</h2>
        <h3>Faça da vida um desfile, invista em acessórios e joias</h3>
        </div>
        <img id="foto1" src="../img/categoria-anel.png" alt="">
        <img id="foto2" src="../img/categoria-anel2.png" alt="">
        <img id="foto3" src="../img/categoria-brinco.png" alt="">
        <img id="foto4" src="../img/pulseira.png" alt="">
        <img id="foto5" src="../img/pulseira2.png" alt="">
        <img id="foto6" src="../img/colar.png" alt="">
      </section>

      <section class="best-sellers">
        <div id="titulo">
        <h2>Queridinhos do ano</h2>
        <h3>Confira os Produtos mais vendidos</h3>
          </div>
        <div class="card-best-sellers">
          <header>
            <a href="./produto-interno.html">
              <img src="../img/anel1.webp" alt="">
            </a>
          </header>
          <footer>
            <p class="lancamento">Mais vendido</p>
            <p class="title-produto">Anel de Diamantes</p>
            <div class="div-valor-produtos">
            <p class="valor-produto">R$ 51.200,00</p>
            <p class="juros">10x sem juros de R$5.200,00</p>
            <a href="./pagina-carrinho.html">Adicione ao carrinho</a>
            </div>
          </footer>
        </div>

        <div class="card-best-sellers">
          <header>
            <a href="./produto-interno.html">
              <img src="../img/anel1.webp" alt="">
            </a>
          </header>
          <footer>
            <p class="lancamento">Mais vendido</p>
            <p class="title-produto">Anel de Diamantes</p>
            <div class="div-valor-produtos">
            <p class="valor-produto">R$ 51.200,00</p>
            <p class="juros">10x sem juros de R$5.200,00</p>
            <a href="./pagina-carrinho.html">Adicione ao carrinho</a>
            </div>
          </footer>
        </div>
        </div>

      </section>

            <h1 class="class-produtos">PRODUTOS</h1>

      <div class="filtro">
        <ul>
          <li>CATEGORIA <img src="../img/seta.png" alt=""></li>
          <li>SUBCATEGORIAS <img src="../img/seta.png" alt=""></li>
          <li>COLEÇÃO <img src="../img/seta.png" alt=""></li>
          <li>MATERIAL <img src="../img/seta.png" alt=""></li>
          <li>PEDRAS <img src="../img/seta.png" alt=""></li>
          <li>ORGANIZAR POR: <img src="../img/seta.png" alt=""></li>
        </ul>
      </div>

      <div class ="container-produtos">
        <div class="card-produtos">
          <header>
            <a href="./produto-interno.html">
              <img src="../img/anel1.webp" alt="">
            </a>
          </header>
          <footer>
            <p class="lancamento">Lançamento</p>
            <p class="title-produto">Anel de Diamantes</p>
            <div class="div-valor-produtos">
            <p class="valor-produto">R$ 51.200,00</p>
            <p class="juros">10x sem juros de R$5.200,00</p>
            <a href="./pagina-carrinho.html">Adicione ao carrinho</a>
            </div>
          </footer>
        </div>

        <div class="card-produtos">
          <header>
            <a href="./produto-interno.html">
              <img src="../img/anel1.webp" alt="">
            </a>
          </header>
          <footer>
            <p class="lancamento">Lançamento</p>
            <p class="title-produto">Anel de Diamantes</p>
            <div class="div-valor-produtos">
            <p class="valor-produto">R$ 51.200,00</p>
            <p class="juros">10x sem juros de R$5.200,00</p>
            <a href="./pagina-carrinho.html">Adicione ao carrinho</a>
            </div>
          </footer>
        </div>

        <div class="card-produtos">
          <header>
            <a href="./produto-interno.html">
              <img src="../img/anel1.webp" alt="">
            </a>
          </header>
          <footer>
            <p class="lancamento">Lançamento</p>
            <p class="title-produto">Anel de Diamantes</p>
            <div class="div-valor-produtos">
            <p class="valor-produto">R$ 51.200,00</p>
            <p class="juros">10x sem juros de R$5.200,00</p>
            <a href="./pagina-carrinho.html">Adicione ao carrinho</a>
            </div>
          </footer>
        </div>

        <div class="card-produtos">
          <header>
            <a href="./produto-interno.html">
              <img src="../img/anel1.webp" alt="">
            </a>
          </header>
          <footer>
            <p class="lancamento">Lançamento</p>
            <p class="title-produto">Anel de Diamantes</p>
            <div class="div-valor-produtos">
            <p class="valor-produto">R$ 51.200,00</p>
            <p class="juros">10x sem juros de R$5.200,00</p>
            <a href="./pagina-carrinho.html">Adicione ao carrinho</a>
            </div>
          </footer>
        </div>

        <div class="card-produtos">
          <header>
            <a href="./produto-interno.html">
              <img src="../img/anel1.webp" alt="">
            </a>
          </header>
          <footer>
            <p class="lancamento">Lançamento</p>
            <p class="title-produto">Anel de Diamantes</p>
            <div class="div-valor-produtos">
            <p class="valor-produto">R$ 51.200,00</p>
            <p class="juros">10x sem juros de R$5.200,00</p>
            <a href="./pagina-carrinho.html">Adicione ao carrinho</a>
            </div>
          </footer>
        </div>

        <div class="card-produtos">
          <header>
            <a href="./produto-interno.html">
              <img src="../img/anel1.webp" alt="">
            </a>
          </header>
          <footer>
            <p class="lancamento">Lançamento</p>
            <p class="title-produto">Anel de Diamantes</p>
            <div class="div-valor-produtos">
            <p class="valor-produto">R$ 51.200,00</p>
            <p class="juros">10x sem juros de R$5.200,00</p>
            <a href="./pagina-carrinho.html">Adicione ao carrinho</a>
            </div>
          </footer>
        </div>

        <div class="card-produtos">
          <header>
            <a href="./produto-interno.html">
              <img src="../img/anel1.webp" alt="">
            </a>
          </header>
          <footer>
            <p class="lancamento">Lançamento</p>
            <p class="title-produto">Anel de Diamantes</p>
            <div class="div-valor-produtos">
            <p class="valor-produto">R$ 51.200,00</p>
            <p class="juros">10x sem juros de R$5.200,00</p>
            <a href="./pagina-carrinho.html">Adicione ao carrinho</a>
            </div>
          </footer>
        </div>

        <div class="card-produtos">
          <header>
            <a href="./produto-interno.html">
              <img src="../img/anel1.webp" alt="">
            </a>
          </header>
          <footer>
            <p class="lancamento">Lançamento</p>
            <p class="title-produto">Anel de Diamantes</p>
            <div class="div-valor-produtos">
            <p class="valor-produto">R$ 51.200,00</p>
            <p class="juros">10x sem juros de R$5.200,00</p>
            <a href="./pagina-carrinho.html">Adicione ao carrinho</a>
            </div>
          </footer>
        </div>
        <div class="card-produtos">
          <header>
            <a href="./produto-interno.html">
              <img src="../img/anel1.webp" alt="">
            </a>
          </header>
          <footer>
            <p class="lancamento">Lançamento</p>
            <p class="title-produto">Anel de Diamantes</p>
            <div class="div-valor-produtos">
            <p class="valor-produto">R$ 51.200,00</p>
            <p class="juros">10x sem juros de R$5.200,00</p>
            <a href="./pagina-carrinho.html">Adicione ao carrinho</a>
            </div>
          </footer>
        </div>

        <div class="card-produtos">
          <header>
            <a href="./produto-interno.html">
              <img src="../img/anel1.webp" alt="">
            </a>
          </header>
          <footer>
            <p class="lancamento">Lançamento</p>
            <p class="title-produto">Anel de Diamantes</p>
            <div class="div-valor-produtos">
            <p class="valor-produto">R$ 51.200,00</p>
            <p class="juros">10x sem juros de R$5.200,00</p>
            <a href="./pagina-carrinho.html">Adicione ao carrinho</a>
            </div>
          </footer>
        </div>

        <div class="card-produtos">
          <header>
            <a href="./produto-interno.html">
              <img src="../img/anel1.webp" alt="">
            </a>
          </header>
          <footer>
            <p class="lancamento">Lançamento</p>
            <p class="title-produto">Anel de Diamantes</p>
            <div class="div-valor-produtos">
            <p class="valor-produto">R$ 51.200,00</p>
            <p class="juros">10x sem juros de R$5.200,00</p>
            <a href="./pagina-carrinho.html">Adicione ao carrinho</a>
            </div>
          </footer>
        </div>

        <div class="card-produtos">
          <header>
            <a href="./produto-interno.html">
              <img src="../img/anel1.webp" alt="">
            </a>
          </header>
          <footer>
            <p class="lancamento">Lançamento</p>
            <p class="title-produto">Anel de Diamantes</p>
            <div class="div-valor-produtos">
            <p class="valor-produto">R$ 51.200,00</p>
            <p class="juros">10x sem juros de R$5.200,00</p>
            <a href="./pagina-carrinho.html">Adicione ao carrinho</a>
            </div>
          </footer>
        </div>

        <div class="card-produtos">
          <header>
            <a href="./produto-interno.html">
              <img src="../img/anel1.webp" alt="">
            </a>
          </header>
          <footer>
            <p class="lancamento">Lançamento</p>
            <p class="title-produto">Anel de Diamantes</p>
            <div class="div-valor-produtos">
            <p class="valor-produto">R$ 51.200,00</p>
            <p class="juros">10x sem juros de R$5.200,00</p>
            <a href="./pagina-carrinho.html">Adicione ao carrinho</a>
            </div>
          </footer>
        </div>

        <div class="card-produtos">
          <header>
            <a href="./produto-interno.html">
              <img src="../img/anel1.webp" alt="">
            </a>
          </header>
          <footer>
            <p class="lancamento">Lançamento</p>
            <p class="title-produto">Anel de Diamantes</p>
            <div class="div-valor-produtos">
            <p class="valor-produto">R$ 51.200,00</p>
            <p class="juros">10x sem juros de R$5.200,00</p>
            <a href="./pagina-carrinho.html">Adicione ao carrinho</a>
            </div>
          </footer>
        </div>

        <div class="card-produtos">
          <header>
            <a href="./produto-interno.html">
              <img src="../img/anel1.webp" alt="">
            </a>
          </header>
          <footer>
            <p class="lancamento">Lançamento</p>
            <p class="title-produto">Anel de Diamantes</p>
            <div class="div-valor-produtos">
            <p class="valor-produto">R$ 51.200,00</p>
            <p class="juros">10x sem juros de R$5.200,00</p>
            <a href="./pagina-carrinho.html">Adicione ao carrinho</a>
            </div>
          </footer>
        </div>

        <div class="card-produtos">
          <header>
            <a href="./produto-interno.html">
              <img src="../img/anel1.webp" alt="">
            </a>
          </header>
          <footer>
            <p class="lancamento">Lançamento</p>
            <p class="title-produto">Anel de Diamantes</p>
            <div class="div-valor-produtos">
            <p class="valor-produto">R$ 51.200,00</p>
            <p class="juros">10x sem juros de R$5.200,00</p>
            <a href="./pagina-carrinho.html">Adicione ao carrinho</a>
            </div>
          </footer>
        </div>

        <div class="card-produtos">
          <header>
            <a href="./produto-interno.html">
              <img src="../img/anel1.webp" alt="">
            </a>
          </header>
          <footer>
            <p class="lancamento">Lançamento</p>
            <p class="title-produto">Anel de Diamantes</p>
            <div class="div-valor-produtos">
            <p class="valor-produto">R$ 51.200,00</p>
            <p class="juros">10x sem juros de R$5.200,00</p>
            <a href="./pagina-carrinho.html">Adicione ao carrinho</a>
            </div>
          </footer>
        </div>

        <div class="card-produtos">
          <header>
            <a href="./produto-interno.html">
              <img src="../img/anel1.webp" alt="">
            </a>
          </header>
          <footer>
            <p class="lancamento">Lançamento</p>
            <p class="title-produto">Anel de Diamantes</p>
            <div class="div-valor-produtos">
            <p class="valor-produto">R$ 51.200,00</p>
            <p class="juros">10x sem juros de R$5.200,00</p>
            <a href="./pagina-carrinho.html">Adicione ao carrinho</a>
            </div>
          </footer>
        </div>

        <div class="card-produtos">
          <header>
            <a href="./produto-interno.html">
              <img src="../img/anel1.webp" alt="">
            </a>
          </header>
          <footer>
            <p class="lancamento">Lançamento</p>
            <p class="title-produto">Anel de Diamantes</p>
            <div class="div-valor-produtos">
            <p class="valor-produto">R$ 51.200,00</p>
            <p class="juros">10x sem juros de R$5.200,00</p>
            <a href="./pagina-carrinho.html">Adicione ao carrinho</a>
            </div>
          </footer>
        </div>

        <div class="card-produtos">
          <header>
            <a href="./produto-interno.html">
              <img src="../img/anel1.webp" alt="">
            </a>
          </header>
          <footer>
            <p class="lancamento">Lançamento</p>
            <p class="title-produto">Anel de Diamantes</p>
            <div class="div-valor-produtos">
            <p class="valor-produto">R$ 51.200,00</p>
            <p class="juros">10x sem juros de R$5.200,00</p>
            <a href="./pagina-carrinho.html">Adicione ao carrinho</a>
            </div>
          </footer>
        </div>

        <div class="card-produtos">
          <header>
            <a href="./produto-interno.html">
              <img src="../img/anel1.webp" alt="">
            </a>
          </header>
          <footer>
            <p class="lancamento">Lançamento</p>
            <p class="title-produto">Anel de Diamantes</p>
            <div class="div-valor-produtos">
            <p class="valor-produto">R$ 51.200,00</p>
            <p class="juros">10x sem juros de R$5.200,00</p>
            <a href="./pagina-carrinho.html">Adicione ao carrinho</a>
            </div>
          </footer>
        </div>
        
        </div>
        <div id="divisor-pagina1"></div>
        <div id="logo"><h2>byJulia</h2></div>
        <div class="divisor-pagina2"></div>
    </main>

    
    <footer id="footer-principal">
      <section class="footer-sobre-nos">
        <h3>História</h3>
        <ul>
          <li><a href="#">Por que byJulia?</a></l>
          <li><a href="#">Nossos diferenciais</a></li>
          <li><a href="#">Membros</a></li>
        </ul>
      </section>
      <section class="footer-sobre-nos">
        <h3>Lorem.</h3>
        <ul>
          <li><a href="#">Lorem, ipsum.</a></l>
          <li><a href="#">Lorem, ipsum dolor.</a></li>
          <li><a href="#">Lorem, ipsum dolor.</a></li>
        </ul>
      </section>
      <section id="endereco">
        <h3>Endereço</h3>
        <img src="../img/maps.jpg" alt="">
      </section>      

    </footer>

  </body>
  </html>