<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="./styles/style-trabalhe-conosco.css" />
  <link rel="stylesheet" href="./styles/style.css">
  <script src="../javascript/menu-hamburguer.js" defer></script>
  <title>byJulia Trabalhe Conosco</title>
</head>

<body>
    
  <section id="promotion">OFERTA 100% em todos os produtos</section>
  <header>
    <h1 id="logo">byJulia</h1>
    <nav id="header-list">
      <a href="#">Home</a>
      <a href="./pagina-products.html">Produtos</a></li>
      <a href="#">Sobre</a>
    </nav>

    <div class="header-list">
      <form id="menu-search">
        <input
          type="text"
          id="products"
          name="products"
          placeholder="O que você procura hoje?"
        />
        <label for="products"
          ><i class="fa-solid fa-magnifying-glass"></i>
        </label>
      </form>
      <a href="./pagina-cadastro.html" target="_self"
        ><i class="fa-solid fa-user"></i
      ></a>
      <a href="./pagina-carrinho.html"><i class="fa-solid fa-cart-shopping"></i></a>
    </div>

    <div id="container-hamburguer">
      <!-- <input type="checkbox" id="checkbox-menu"> -->
      <label for="checkbox-menu">
        <span id="line1"></span>
        <span id="line2"></span>
        <span id="line3"></span>
      </label>
    </div>
    <aside id="sidebar">
        <ul class="menu-bar">
          <li><a href="#">Home</a></li>
          <li><a href="./pagina-products.html" target="_parent">Produtos</a></li>
          <li><a href="#">Sobre</a></li>
        </ul>
    </aside>
  </header>


  <main>

    <section class="trabalhe-conosco">
      <div>
        <h1>Trabalhe Conosco</h1>
        <h3>Envie seu currículo para gente.</h3>
      </div>

      <div>
        <form>
          <div>
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome">
          </div>

          <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
          </div>

          <div>
            <label for="tel">Telefone</label>
            <input type="tel" name="tel" id="tel">
          </div>

          <div>
            <label>Departamentos</label>
            <select name="dep" id="dep">
              <option>Selecionar</option>
              <option value="financeiro">Financeiro</option>
              <option value="sac">Recursos Humanos</option>
              <oPtion value="vendas">Vendas</OPtion>
              <option value="tecnologia">Tecnologia</option>
            </select>
          </div>

          <div>
            <div>
              <label>Disponibilidade</label>
            </div>
            <div class="boxes">
              <div>
                <input type="checkbox" id="int" name="dis" value="integral(8h)"><label for="int">integral(8h)</label>
              </div>
              <div>
                <input type="checkbox" id="meio" name="dis"
                  value="meio periodo"><label for="meio">Meio Período(4h)</label>
              </div>
              <div>
                <input type="checkbox" id="free" name="dis" value="freelancer"><label for="free">Freelancer</label>
              </div>
            </div>
          </div>
          
          <div>
            <div>
              <label>Qual a melhor forma para entrarmos em contato com você?</label>
            </div>
            <div class="boxes">
              <div>
                <input type="radio" name="contato" id="contato" value="email"><label for="contato">Email</label>
              </div>
              <div>
                <input type="radio" name="contato" id="contato" value="ligacao"><label for="contato">Ligação</label>
              </div>
              <div>
                <input type="radio" name="contato" id="contato" value="whatsApp"><label for="contato">WhatsApp</label>
              </div>
            </div>
          </div>
          
          <div>
            <label>Mensagem</label>        
            <textarea name="mens" id="mens" cols="30" rows="10"></textarea>
          </div>
          <div class="bt-upload">
            <label>Curriculo</label><button>Upload</button>          
          </div>
          <div class="bt-enviar">
            <button>Enviar</button>
          </div>
        </form>
      </div>      
    </section>
  </main>

  <footer id="footer-principal">
    <section class="footer-sobre-nos">
      <h3>História</h3>
      <ul>
        <li><a href="#">Por que byJulia?</a></l>
        <li><a href="#">Nossos diferenciais</a></li>
        <li><a href="#">Membros</a></li>
      </ul>
    </section>
    
    <section class="footer-sobre-nos">
      <h3>Lorem.</h3>
      <ul>
        <li><a href="#">Lorem, ipsum.</a></l>
        <li><a href="#">Lorem, ipsum dolor.</a></li>
        <li><a href="#">Lorem, ipsum dolor.</a></li>
      </ul>
    </section>
    
    <section id="endereco">
      <h3>Endereço</h3>
      <img src="../img/maps.jpg" alt="">
    </section>      

  </footer>
</body>

</html>
<script src="https://kit.fontawesome.com/1b82f5acb9.js" crossorigin="anonymous"></script>