<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles/style-cadastro.css">
  <script src="../javascript/cadastro-form.js" defer></script>

  <title>Document</title>
</head>
<body>

  <section class="right-side">
    
    <form class="cadastro-form" method="post" action="url_vai_aqui">
      <label class="titulo-cadastro">Crie sua conta</label>
      <div class="campo-cadastro">
        <label for="usuario">Usuário</label>
        <input type="text" name="usuario" id="user" placeholder="Digite seu usuario">
      </div>
      <div class="campo-cadastro">
        <label for="email-cadastro">E-mail</label>
        <input type="email" name="email" id="email-cadastro" placeholder="Digite seu email">
      </div>
      <div class="campo-cadastro">
        <label for="senha-cadastro">Senha</label>
        <input type="password" name="senha" id="senha-cadastro"placeholder="Digite sua senha">
      </div>
      <div class="campo-cadastro">
        <label for="confirma-cadastro">Confirma Senha</label>
        <input type="password" name="confirma-senha" id="confirma-cadastro"placeholder="Confirme sua senha">
      </div>
      <div class="senha-info">
        <p>* A senha necessita ter mais de 6 caracteres</p>
        <p>* É necessário um caractere especial</p>
        <p>* É necessário um número</p>
      </div>
      
      <button id="button-cadastro" type="submit">Criar</button>
    </form>
    <h4>Já é usuário? Faça login <a href="./pagina-login.html">Clicando aqui</a></h4>

    <h1>byJulia</h1>
  </section>
  
</body>
</html>