@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;0,800;0,900;1,600&display=swap");

:root {
  --font-text: "Montserrat", sans serif;
  --font-title: "Cormorant SC", sans serif;
  --color-primary: #fc926f;
  --color-secondary: #f28d8d;
  --color-footer: rgba(130, 142, 242, 0.5);
}

.fa-user {
  margin: 0.4rem;
}

#carousel {
  margin: auto;
  margin-top: 12rem;
  width: 100%;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#carousel > .carousel-image {
  width: 100%;
  display: none;
}

#container-banner {
  width: 6rem;
  height: 1rem;
  margin-top: 0.9rem;
  cursor: pointer;
  display: flex;
}

#container-banner > .image-cont {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  transition: 0.6s ease;
}

.active,
.image-cont:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.carousel-image > img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 25rem;
  image-resolution: 500%;
  box-shadow: 2px 2px 8px;
}

/*Divisão das páginas*/

.pag-divisor {
  width: 100%;
  height: 2rem;
  background-color: #dddddd;
  margin: 2rem 0;
}

/* CATEGORIAS */

#categorias {
  width: 100%;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

#categorias > h1 {
  text-align: center;
  font-family: var(--font-title);
  font-weight: 700;
  font-size: 4rem;
  color: black;
}

.container-cards {
  width: 100%;
  margin-top: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: wrap;
}

.card-categorias > h2 {
  font-size: 3rem;
  font-weight: 300;
  color: black;
  text-align: center;
  margin-bottom: 0.8rem;
}

.card-categorias > a > img {
  width: 20rem;
  height: 25rem;
  transition: ease-in-out 0.3s;
}

.card-categorias > a > img:hover {
  opacity: 0.8;
  transform: scale(1.044);
}

/*P R O D U T O S*/
#produtos {
  margin-top: 2rem;
  text-align: center;
}

#produtos > h1 {
  font-size: 4rem;
  font-family: var(--font-title);
}

.container-produtos {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  margin: auto;
}

.card-produtos {
  border: 0.8px solid #dddddd;
  margin: 0;
  margin-top: 0.9rem;
  transition: 1s ease-in-out;
  margin-left: 2rem;
}

.card-produtos > header img {
  width: 10rem;
  height: 10rem;
}

.card-produtos > footer {
  text-align: center;
}

.card-produtos > footer > .lancamento {
  background-color: #feede4;
  width: 9rem;
  border-radius: 10px;
  color: #fc926f;
}

.card-produtos:hover {
  transform: scale(1.1);
}

#contador-produtos {
  width: 10rem;
  height: 2rem;
  display: flex;
  margin-top: 1rem;
}

#contador-produtos > .produtos-cont {
  width: 2rem;
  height: 1rem;
  background-color: var(--color-primary);
  border-radius: 2rem;
}

/* Responsividade */
@media screen and (max-width: 922px) {
  body {
    width: 100%;
    overflow-x: none;
  }

  .header-list {
    display: none;
  }

  nav {
    display: none;
  }

  #container-hamburguer {
    display: block;
  }

  .carousel-image > img {
    width: 20rem;
    height: 20rem;
  }

  .pag-divisor {
    display: none;
  }

  #produtos .hide {
    display: none;
  }

  #produtos {
    margin-top: 5rem;
  }

  .card-categorias {
    margin-top: 2rem;
  }

  #footer-principal {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #footer-principal > .footer-sobre-nos {
    display: none;
  }

  #endereco {
    width: 100%;
  }

  #endereco > img {
    width: 100%;
  }
}
