@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;0,800;0,900;1,600&display=swap");

:root {
  --font-text: "Montserrat", sans serif;
  --font-title: "Cormorant SC", sans serif;
  --color-primary: #fc926f;
  --color-secondary: #f28d8d;
  --color-footer: rgba(130, 142, 242, 0.5);
}

* {
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: var(--font-text);
}

/* HEADER */
#promotion {
  text-align: center;
  background-color: #725752;
  color: #eafdf8;
  height: 1.5rem;
}

body > header {
  width: 100%;
  height: 9.375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-primary);
  opacity: 0.6;
  position: fixed;
  top: 1;
  z-index: 20;
  transition: ease-in-out 1s;
}

body > header:hover {
  opacity: 1;
}

#logo {
  font-size: 4rem;
  font-family: var(--font-title);
  border-bottom: 2px solid var(--color-secondary);
  font-weight: 300;
  margin-bottom: 0.8rem;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a{
  text-decoration: none;
  color: #eafdf8;
  margin: 0.9rem;
  font-size: 2rem;
  cursor: pointer;
  transition: 1s;
}

nav > a:hover{
  color: #725752;
  border-bottom: 1px solid #f06060;
}

.dropdown{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

nav > .dropdown > a:hover, dropdown:hover .dropbtn{
  color: #725752;
  border-bottom: 1px solid #f06060;
}

.dropdown-content{
  display: none;
  position: absolute;
  top: 6.2rem;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 9;
}

.dropdown-content a{
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 1rem;
}

.dropdown-content a:hover{
  background-color: #ddd;
}

.dropdown:hover .dropdown-content{
  display: block;
}

#menu-search{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-secondary);
  padding-bottom: 0.2rem;
}

#menu-search > input{
  color: #eafdf8;
  background-color: var(--color-primary);
  font-weight: 700;
  font-size: 0.68rem;
  border: none;
}

#menu-search > input:focus{
  box-shadow: 0 0 0 0;
  outline: 0;
}

#menu-search > label > i {
  font-size: 1rem;
  color: var(--color-secondary);
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}

#container-hamburguer{
  z-index: 10;
  display: none;
}

#container-hamburguer label{
  cursor: pointer;
  position: relative;
  display: block;
  height: 22px;
  width: 30px;
}

#container-hamburguer label span{
  position: absolute;
  display: block;
  height: 5px;
  width: 100%;
  border-radius: 30px;
  background-color: #f16234;
  transition: 0.25s ease-in-out;
}

#container-hamburguer label #line1{
  top: 0;
  transition: 1s;
}

#container-hamburguer label #line2{
  top: 8px;
  transition: 0.5s;
}

#container-hamburguer label #line3{
  top: 16px;
  transition: 1s;
}

.show-menu #line1{
  transform: rotate(-45deg) translate(-10px, 7px);
}

.show-menu #line2{
  opacity: 0;
}

.show-menu #line3{
  transform: rotate(45deg) translate(-5px);
}

#sidebar{
  width: 10rem;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: -20rem;
  transition: all 1s;
}

.show-menu #sidebar{
  right: 0;
}

.menu-bar{
  position: relative;
  top: 10rem;
  right: 1rem;
}

.menu-bar li{
  list-style-type: none;
  margin-top: 0.8rem;
}

.menu-bar li:hover{
  border-left: 1px solid var(--color-secondary);
}

.menu-bar li a{
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  transition: 300ms ease-in-out;
}

.menu-bar li a:hover{
  color: grey;
  filter: brightness(150%);
}

i {
  cursor: pointer;
}

.fa-user {
  margin: 0.4rem;
}

#carousel {
  margin: auto;
  margin-top: 12rem;
  width: 100%;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#carousel > .carousel-image {
  width: 100%;
  display: none;
}

#container-banner {
  width: 6rem;
  height: 1rem;
  margin-top: 0.9rem;
  cursor: pointer;
  display: flex;
}

#container-banner > .image-cont {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  transition: 0.6s ease;
}

.active,
.image-cont:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.carousel-image > img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 25rem;
  image-resolution: 500%;
  box-shadow: 2px 2px 8px;
}

/*Divisão das páginas*/

.pag-divisor {
  width: 100%;
  height: 2rem;
  background-color: #dddddd;
  margin: 2rem 0;
}

/* CATEGORIAS */

#categorias {
  width: 100%;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

#categorias > h1 {
  text-align: center;
  font-family: var(--font-title);
  font-weight: 700;
  font-size: 4rem;
  color: black;
}

.container-cards {
  width: 100%;
  margin-top: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: wrap;
}

.card-categorias > h2 {
  font-size: 3rem;
  font-weight: 300;
  color: black;
  text-align: center;
  margin-bottom: 0.8rem;
}

.card-categorias > a > img {
  width: 20rem;
  height: 25rem;
  transition: ease-in-out 0.3s;
}

.card-categorias > a > img:hover{
  opacity: 0.8;
  transform: scale(1.044);
}

/*P R O D U T O S*/
#produtos {
  margin-top: 2rem;
  text-align: center;
}

#produtos > h1 {
  font-size: 4rem;
  font-family: var(--font-title);
}

.container-produtos {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  margin: auto;
}

#prev, #next{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -1rem;
  padding: 0.2rem;
  z-index: 2;
  font-size: 2rem;
  color: var(--color-secondary);
  text-align: center;
  transition: 1s ease;
}

#next{
  right: 1rem;
}

#prev{
  left: 1rem;
}

#prev:hover, #next:hover {
  transform: scale(1.5);
}

.card-produtos {
  width: 20rem;
  height: 22rem;
  border: 0.8px solid #dddddd;
  margin: 0;
  margin-top: 0.9rem;
  transition: 1s ease-in-out;
}

.card-produtos > header img {
  width: 100%;
  height: 15rem;
}

.card-produtos > footer {
  text-align: center;
}

.card-produtos > footer > .lancamento {
  background-color: #feede4;
  width: 9rem;
  border-radius: 10px;
  color: #fc926f;
}

.card-produtos:hover{
  transform: scale(1.1);
}

#contador-produtos {
  width: 10rem;
  height: 2rem;
  display: flex;
  margin-top: 1rem;
}

#contador-produtos > .produtos-cont{
  width: 2rem;
  height: 1rem;
  background-color: var(--color-primary);
  border-radius: 2rem;
}

/* F O O T E R */

#footer-principal{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  background-color: #717171;
}

.footer-sobre-nos{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  padding: 0.9rem;
  margin-bottom: 5rem;
}

.footer-sobre-nos > h3{
  font-family: var(--font-title);
  color: white;  
  margin-bottom: 1rem;
}

.footer-sobre-nos > ul > li{
  list-style-type: none;
  margin-bottom: 1rem;
}

.footer-sobre-nos > ul > li > a{
  text-decoration: none;
  color: white;
}

.footer-sobre-nos > ul > li > a:hover{
  color: rgb(238, 195, 195);
}

#endereco{
  margin-bottom: 4rem;
}

#endereco h3{
  font-family: var(--font-title);
  color: white;
  text-align: center;
  font-size: 2.5rem;
  
}

#endereco > img{
  width: 15rem;
}

/* Responsividade */
@media screen and (max-width: 922px) {
  body{
    width: 100%;
    overflow-x: none;
  }

  .header-list{
    display: none;
  }
  
  nav{
    display: none;
  }

  #container-hamburguer{
    display: block;
  }

  .carousel-image > img{
    width: 20rem;
    height: 20rem;
  }

  .pag-divisor{
    display: none;
  }

  #produtos .hide{
    display: none;
  }

  #produtos{
    margin-top: 5rem;
  }

  .card-categorias{
    margin-top: 2rem;
  }

  #footer-principal{
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #footer-principal > .footer-sobre-nos{
    display: none;
  }

  #endereco{
    width: 100%;
  }

  #endereco > img{
    width: 100%;
  }
}
