@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;0,800;0,900;1,600&display=swap');

:root {
  --font-text: "Montserrat", sans-serif;
  --font-title: "Cormorant SC", sans-serif;
  --color-primary: #fc926f;
  --color-secondary: #f28d8d;
  --color-footer: rgba(130, 142, 242, 0.5);
}

main {
  display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 4rem;
   align-items: center;
}
.trabalhe-conosco{
  width: 50%;
  display:flex;
  flex-direction: column;
  gap: 1rem;
}
.trabalhe-conosco>div{
  display:flex;
  align-items: center;
  flex-direction: column; 
  
}
form{
  display:flex;
  flex-direction: column;
  width: 100%;
  gap: .7rem;
}
form>div{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
form>div>input,select,textarea{
  width: 100%;
  
}
form div.boxes{
  display:flex;
  width: 80%;
  justify-content: space-between;
}
form div.boxes>div{
  display:flex;
  align-items: center;
  gap: .3rem;
}
.trabalhe-conosco h1{
   display: flex;
   font-size:50px;
   text-align: center;
   color: rgba(0, 0, 0, 1);;
   justify-content: start;
}



  .inf-formulario{
   
   display: flex;
   margin: 1rem;
   font-family: 'Roboto', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 21px;
   color: #9B9B9B;
   flex-direction: column;
}
.button input{
   font-size: 35px;
   color: #9B9B9B;
}
.inf-paragrafo{
   display: flex;
  margin-top: 180px;
  font-size: 38px;
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
   text-align: justify;
   color: #575757;
  width: 950px;
  height: 1200px;

}




       
   .inf-segundo select{
   display: flex;
   flex-direction: column;
   width: 500px; 
   height: 30px;   
   left: 80px;
   top: 180px;
   font-size: 20px;
   color: #9B9B9B;
   border-color: #9B9B9B;
  text-align: center;
   
}


.inf-terceira{
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 500px;
  height: 30px;
  font-size:15px;
  text-align: justify;
  

}
.inf-terceira label{
   font-size: 15px;
   
}
.inf-terceira input{
width: 40px;
}

.inf-quarta{
   display: flex;
   width: 500px;
   height: 30px;
   font-size: 15px;
   align-items: center;
   color: #777777;
   font-size: 15px;
}


.inf-quinta textarea{
   width: 500px;
height: 195px;
left: 123px;
top: 681px;
font-size: 25px;
background: #FFFFFF;
border-color: #9B9B9B;

}
.bt-upload button{
   width: 80px;
   height: 30px;
   left: 213px;
   top: 781px;
   background:  rgba(242, 141, 141, 0.6);
   border-color:  rgba(242, 141, 141, 0.6);
   color: #FFFFFF;
   font-size: 20px;
   
}
.bt-enviar button{
   width: 100%;
   height: 30px;
   color: #FFFFFF;
   font-size: 25px;
   background: rgba(242, 141, 141, 0.6);
   border-color: rgba(242, 141, 141, 0.6)
}

  /* F O O T E R */

#footer-principal{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  background-color: #717171;
}

.footer-sobre-nos{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  padding: 0.9rem;
  margin-bottom: 5rem;
}

.footer-sobre-nos > h3{
  font-family: var(--font-title);
  color: white;  
  margin-bottom: 1rem;
}

.footer-sobre-nos > ul > li{
  list-style-type: none;
  margin-bottom: 1rem;
}

.footer-sobre-nos > ul > li > a{
  text-decoration: none;
  color: white;
}

.footer-sobre-nos > ul > li > a:hover{
  color: rgb(238, 195, 195);
}

#endereco{
  margin-bottom: 4rem;
}

#endereco h3{
  font-family: var(--font-title);
  color: white;
  text-align: center;
  font-size: 2.5rem;
  
}

#endereco > img{
  width: 15rem;
}

/* Responsividade */
@media screen and (max-width: 922px) {
  body{
    width: 100%;
    overflow-x: none;
  }
  #header-list {
    display: none;
  }

  .carousel-image > img{
    width: 20rem;
    height: 20rem;
  }

  .pag-divisor{
    display: none;
  }

  #produtos .hide{
    display: none;
  }

  #produtos{
    margin-top: 5rem;
  }

  .card-categorias{
    margin-top: 2rem;
  }

  #footer-principal{
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #footer-principal > .footer-sobre-nos{
    display: none;
  }

  #endereco{
    width: 100%;
  }

  #endereco > img{
    width: 100%;
  }
}

