@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;0,800;0,900;1,600&display=swap");

:root {
  --font-text: "Montserrat", sans serif;
  --font-title: "Cormorant SC", sans serif;
  --color-primary: #f2da80;
  --color-secondary: #f28d8d;
  --color-footer: rgba(130, 142, 242, 0.5);
}

* {
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: var(--font-text);
}

/* HEADER */
body > header {
  width: 100%;
  height: 9.375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-primary);
}

#logo {
  font-size: 7rem;
  font-family: var(--font-title);
  border-bottom: 2px solid var(--color-secondary);
  font-weight: 300;
  margin-bottom: 0.8rem;
}

.header-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header-list > a {
  color: black;
  transition: ease-in 0.4s;
}

.header-list > a:hover {
  color: rgb(58, 58, 58);
}

li {
  list-style-type: none;
  margin-left: 1.4rem;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  font-weight: 300;
  font-size: 1.5rem;
}

li:hover {
  color: #f28d8d;
}

#menu-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-secondary);
  padding-bottom: 0.2rem;
}

#menu-search > input {
  color: var(--color-secondary);
  background-color: var(--color-primary);
  font-weight: 700;
  font-size: 0.68rem;
  border: none;
}

#menu-search > input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

#menu-search > label > i {
  font-size: 1rem;
  color: var(--color-secondary);
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}

i {
  cursor: pointer;
}

#menu-search > label > i:hover {
  color: var(--color-secondary);
}

.fa-user {
  margin: 0.4rem;
}

#image-header {
  width: 100%;
  height: 17.1rem;
}

/* SESSÃO PRINCIPAL */

main {
  width: 100%;
  margin-top: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

h1#titulo{
  border-bottom: 4px solid var(--color-primary);
  font-family: 'Cormorant SC';
  font-style: normal;
  font-weight: 500px;
  font-size: 50px;
  color: #F28D8D;
}

#catalogos{
  margin-top: 6.5rem;
  margin-bottom: 20rem;
  display: flex;
}

#catalogos *{
  margin-left: 20px;
  margin-right: 20px;
}




/*footer*/

body > footer {
  width: 100%;
  background-color: var(--color-footer);
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer > ul {
  display: flex;
  margin-top: 3rem;
  align-items: center;
  width: 50%;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .header-list {
    display: none;
  }

  #models-session > h1 {
    font-size: 3rem;
  }

  .container-models {
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container-models > #model-left,
  #model-center {
    display: none;
  }

  .container-models > #model-right {
    width: 100%;
    position: relative;
    left: 0rem;
  }

  #categorias {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
  }

  #categorias > h1 {
    margin-bottom: 6rem;
  }

  #container-cards {
    flex-direction: column;
    height: 12rem;
    justify-content: center;
    align-items: center;
  }

  .card-categorias > a > img {
    width: 15rem;
    height: 16rem;
  }

  .card-categorias > h2 {
    font-size: 1.5rem;
    margin-top: 0.9rem;
    font-weight: 500;
  }

  footer > ul {
    position: relative;
    right: 8rem;
  }

  footer > ul > li {
    font-size: 1rem;
  }
}