@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;0,800;0,900;1,600&display=swap");

:root {
  --font-text: "Montserrat", sans serif;
  --font-title: "Cormorant SC", sans serif;
  --color-primary: #fc926f;
  --color-secondary: #f28d8d;
  --color-footer: rgba(130, 142, 242, 0.5);
}

* {
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: var(--font-text);
}

/* HEADER */
#promotion {
  text-align: center;
  background-color: #725752;
  color: #eafdf8;
  height: 1.5rem;
}

body > header {
  width: 100%;
  height: 9.375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-primary);
  opacity: 0.6;
  position: sticky;
  top: 1;
  z-index: 20;
  transition: ease-in-out 1s;
}

body > header:hover {
  opacity: 1;
}

#logo {
  font-size: 4rem;
  font-family: var(--font-title);
  border-bottom: 2px solid var(--color-secondary);
  font-weight: 300;
  margin-bottom: 0.8rem;
  text-align: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: #eafdf8;
  margin: 0.9rem;
  font-size: 2rem;
  cursor: pointer;
  transition: 1s;
}

nav > a:hover {
  color: #725752;
  border-bottom: 1px solid #f06060;
}

.dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

nav > .dropdown > a:hover,
dropdown:hover .dropbtn {
  color: #725752;
  border-bottom: 1px solid #f06060;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 6.2rem;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 9;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 1rem;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#menu-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-secondary);
  padding-bottom: 0.2rem;
}

#menu-search > input {
  color: #eafdf8;
  background-color: var(--color-primary);
  font-weight: 700;
  font-size: 0.68rem;
  border: none;
}

#menu-search > input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

#menu-search > label > i {
  font-size: 1rem;
  color: var(--color-secondary);
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}

i {
  cursor: pointer;
}

/* SESSÃO PRINCIPAL */

#carousel {
  margin: auto;
  margin-top: 12rem;
  width: 100%;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#carousel > .carousel-image {
  width: 100%;
  display: none;
}

#container-banner {
  width: 6rem;
  height: 1rem;
  margin-top: 0.9rem;
  cursor: pointer;
  display: flex;
}

#container-banner > .image-cont {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  transition: 0.6s ease;
}

.active,
.image-cont:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.carousel-image > img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 25rem;
  image-resolution: 500%;
  box-shadow: 2px 2px 8px;
}

.navegue-categorias div * {
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navegue-categorias div h3 {
  color: #717171;
  font-style: italic;
  border-bottom: 1px solid #f06060;
}

.navegue-categorias div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navegue-categorias {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.navegue-categorias img {
  width: 9rem;
  height: 9rem;
  border: 1px solid grey;
  margin-top: 1.5rem;
}

.navegue-categorias:hover > #foto1 {
  border: 1px solid var(--color-primary);
}
.best-sellers > #titulo {
  width: 100%;
  text-align: center;
  margin-bottom: 3.5rem;
}

.best-sellers > #titulo * {
  font-weight: 600;
}

.best-sellers h3 {
  color: #717171;
  font-style: italic;
}

.best-sellers {
  margin-top: 15rem;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  background-color: rgba(255, 207, 224, 0.171);
  padding: 3rem;
  box-shadow: 0px 0px 31px -7px rgba(0, 0, 0, 0.75);
}

.card-best-sellers {
  width: 13rem;
  height: 24rem;
  border: 0.8px solid #dddddd;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
<<<<<<< HEAD
  box-shadow: 6px 1px 63px -34px rgba(0,0,0,0.75);
=======
  box-shadow: 0px 0px 31px -7px rgba(0, 0, 0, 0.75);
>>>>>>> 5998c8c62f81a11739837d65e09a55c6e1571112
}

.card-best-sellers > header img {
  width: 12rem;
  height: 10rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.card-best-sellers > footer {
  text-align: center;
  font-size: 0.8rem;
}

.card-best-sellers > footer > .lancamento {
  background-color: #00ee2c63;
  font-size: 1rem;
  width: 8rem;
  border-radius: 10px;
  color: #009d0a;
  margin-bottom: 0.55rem;
}

.card-best-sellers > footer > .title-produto {
  font-weight: 600;
  margin-bottom: 0.6rem;
}

.card-best-sellers > footer > .div-valor-produtos > .valor-produto {
  font-weight: 700;
}

.card-best-sellers > footer > .div-valor-produtos > .juros {
  margin-top: 0.15rem;
  color: rgb(91, 90, 90);
}

.card-produtos:hover > footer > .div-valor-produtos * {
  display: none;
}

.class-produtos {
  text-align: center;
  margin-top: 11rem;
  font-weight: 500;
  border-bottom: 1px solid var(--color-primary);
}

.filtro {
  width: 70%;
  font-size: 0.8rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
  font-weight: 600;
}

.filtro * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filtro img {
  width: 0.5rem;
  height: 0.5rem;
  margin-left: 0.3rem;
}

#produtos {
  margin-top: 2rem;
  text-align: center;
}

#produtos > h1 {
  display: flex;
  font-size: 4rem;
  font-family: var(--font-title);
}

.container-produtos {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.card-produtos {
  width: 15rem;
  height: 24rem;
  border: 0.8px solid #dddddd;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 300ms ease-in;
}

.card-produtos > header img {
  width: 12rem;
  height: 10rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.card-produtos > footer {
  text-align: center;
  font-size: 0.8rem;
}

.card-produtos > footer > .lancamento {
  background-color: #feede4;
  font-size: 1rem;
  width: 8rem;
  border-radius: 10px;
  color: #fc926f;
  margin-bottom: 0.55rem;
}

.card-produtos > footer > .title-produto {
  font-weight: 600;
  margin-bottom: 0.6rem;
}

.card-produtos > footer > .div-valor-produtos > .valor-produto {
  font-weight: 700;
}

.card-produtos > footer > .div-valor-produtos > .juros {
  margin-top: 0.15rem;
  color: rgb(91, 90, 90);
}

.card-produtos:hover > footer > .div-valor-produtos * {
  display: block;
}

.card-produtos:hover img{
  transform: scale(1.2);
}

.carregar-mais-produtos {
  margin-top: 2rem;
  font-size: 0.75rem;
  background-color: var(--color-secondary);
  padding: 0.5rem 3rem;
}

.carregar-mais-produtos * {
  font-weight: 600;
}

#divisor-pagina1 {
  margin-top: 10rem;
  width: 100%;
  height: 0.4rem;
  background-color: var(--color-secondary);
}

#logo > h2 {
  font-size: 2rem;
  line-height: 5rem;
}

#footer-principal {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 9rem;
}

.footer-sobre-nos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  padding: 0.9rem;
  margin-bottom: 5rem;
}

.footer-sobre-nos > h3 {
  font-family: var(--font-title);
  color: black;
  margin-bottom: 1rem;
}

.footer-sobre-nos > ul > li {
  list-style-type: none;
  margin-bottom: 1rem;
}

.footer-sobre-nos > ul > li > a {
  text-decoration: none;
  color: black;
}

.footer-sobre-nos > ul > li > a:hover {
  color: rgb(238, 195, 195);
}

#endereco {
  margin-bottom: 4rem;
}

#endereco h3 {
  font-family: var(--font-title);
  color: black;
  text-align: center;
  font-size: 2.5rem;
}

#endereco > img {
  width: 15rem;
}

<<<<<<< HEAD
/* Responsividade */

@media (max-width:400px){
  .navegue-categorias > div{
    font-size: 4rem;
  }
}

@media (max-width:720px){

.class-produtos{
  font-size: 1.30rem;
}

.container-produtos{
  gap:0;
}

.card-produtos{
  width: 11rem;
  height: 16rem;
}

  
.card-produtos > header img {
  width: 9rem;
  height: 8rem;
  margin-bottom: 0rem;
}
  
.card-produtos > footer {
=======
@media (max-width: 720px) {
  .container-produtos {
    gap: 0;
  }

  .card-produtos {
    width: 11rem;
    height: 16rem;
  }

  .card-produtos > header img {
    width: 9rem;
    height: 8rem;
    margin-bottom: 0rem;
  }

  .card-produtos > footer {
>>>>>>> 5998c8c62f81a11739837d65e09a55c6e1571112
    text-align: center;
    font-size: 0.6rem;
  }
<<<<<<< HEAD
  
.card-produtos > footer > .lancamento {
  background-color: #feede4;
  font-size: 0.50rem;
  width: 5rem;
  border-radius: 10px;
  color: #fc926f;
  margin-bottom: 0.40rem;
  }
  
.card-produtos > footer > .title-produto{
  font-weight: 600;
  margin-bottom: 0.30rem;
  }
  
.card-produtos > footer > .valor-produto{
  font-weight: 700;
}
  
.card-produtos > footer > .juros{
    margin-top: 0.15rem;
    color:rgb(91, 90, 90);
}

.navegue-categorias > div *{
  font-size: 1rem;
}

.navegue-categorias > img {
  width: 4rem;
  height: 4rem;
}

.best-sellers{
  gap:0;
  padding: 0.50rem;
}

.best-sellers #titulo {
  margin-bottom: 1rem;
}

.best-sellers #titulo *{
  font-size: 1rem;
}

.card-best-sellers{
  width: 7rem;
  height: 9.50rem;
  box-shadow: none;
}

.card-best-sellers > header img {
  width: 4rem;
  height: 4rem;
  margin-bottom: 0rem;
}
  
.card-best-sellers > footer {
    text-align: center;
    font-size: 0.47rem;
  }
  
.card-best-sellers > footer > .lancamento {
  font-size: 0.50rem;
  width: 5rem;
  border-radius: 10px;
  margin-bottom: 0.40rem;
  }
  
.card-best-sellers > footer > .title-produto{
  font-weight: 600;
  margin-bottom: 0.30rem;
  }
  
.card-best-sellers > footer > .valor-produto{
  font-weight: 700;
}
  
.card-best-sellers > footer > .juros{
    margin-top: 0.15rem;
    color:rgb(91, 90, 90);
}

=======

  .card-produtos > footer > .lancamento {
    background-color: #feede4;
    font-size: 0.5rem;
    width: 5rem;
    border-radius: 10px;
    color: #fc926f;
    margin-bottom: 0.4rem;
  }

  .card-produtos > footer > .title-produto {
    font-weight: 600;
    margin-bottom: 0.3rem;
  }

  .card-produtos > footer > .valor-produto {
    font-weight: 700;
  }

  .card-produtos > footer > .juros {
    margin-top: 0.15rem;
    color: rgb(91, 90, 90);
  }

  /* Responsividade */
>>>>>>> 5998c8c62f81a11739837d65e09a55c6e1571112
}

@media screen and (max-width: 922px) {
  .filtro * {
    display: none;
  }

  body {
    width: 100%;
    overflow-x: none;
  }

  .header-list {
    display: none;
  }

  nav {
    display: none;
  }

  #container-hamburguer {
    display: block;
  }

  .carousel-image > img {
    width: 20rem;
    height: 20rem;
  }

  .pag-divisor {
    display: none;
  }

  #produtos .hide {
    display: none;
  }

  #produtos {
    margin-top: 5rem;
  }

  .card-categorias {
    margin-top: 2rem;
  }

  #footer-principal {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #footer-principal > .footer-sobre-nos {
    display: none;
  }

  #endereco {
    width: 100%;
  }

  #endereco > img {
    width: 100%;
  }
}
