@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;0,800;0,900;1,600&display=swap');

:root{
  --font-text: 'Montserrat', sans-serif;
  --font-title: 'Cormorant SC', sans-serif;
  --color-primary: #fc926f;
  --color-secondary: #F28D8D;
}

/* M A I N */
body > main{
  width: 80%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

main > h1{
  font-family: var(--font-title);
  font-size: 3rem;
  margin-bottom: 1rem;
}

#container{
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-top: 1.5rem;
}

#container > header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  left: 21rem;
  width: 55%;
  bottom: 32.8rem;
}

#container > header p{
  font-family: var(--font-text);
  font-size: 2rem;
}

#container > header p:nth-child(2){
  position: relative;
  left: 10.8rem;
}

#cestaProdutos{
  width: 70%;
  display: flex;
  flex-flow: column;
  margin-top: 2rem;
}

.card-products{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #dddddd;
  box-shadow: 1px 1px 1px #725752;
  margin-bottom: 0.9rem;
}

figure > img{
  width: 15rem;
}

.card-products > h2{
  font-family: var(--font-title);
  margin: 0.8rem;
}

.card-products > .card-button{
  width: 8rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-button > button{
  width: 2rem;
  height: 2rem;
  border-radius: 20%;
  border: none;
}

.card-button > input{
  width: 50%;
  height: 2rem;
  border: none;
  text-align: center;
}

#resumoProdutos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin-top: 2rem;
}

#resumoProdutos > h2{
  font-family: var(--font-title);
  font-size: 2rem;
}

#resumoProdutos > h5{
  margin-top: 2rem;
  font-size: 1.5rem;
}

#resumoProdutos > button{
  margin-top: 2rem;
  border: none;
  height: 2rem;
  cursor: pointer;
  background-color: white;
  transition: 1s ease-in-out;
  border-radius: 5px;
}

#resumoProdutos > button:hover{
  border: 1px solid black;
}

#resumoProdutos > a{
  text-decoration: none;
  cursor: pointer;
  margin-top: 0.9rem;
  color: black;
}

#resumoProdutos > a:hover{
  border-bottom: 1px solid black;
}

@media screen and (max-width: 1208px) {
  figure > img {
    width: 10rem;
    margin-right: -25px;
  }
}
  
@media screen and (max-width: 1035px) {

  body > main {
    width: 100%;
  }
  .card-products{
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  .card-button {
    margin-bottom: 1rem;
  }
  p {
    margin-bottom: 1rem;
  }
  #resumoProdutos > h2{
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  #resumoProdutos > h5{
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  
  #resumoProdutos > button{
    margin-top: 0.5rem;
    border: 1px solid black;
  }
    
  #resumoProdutos > a{
    margin-top: 0.5rem;
  }

  #container {
    width: 60%;
  }
}

@media screen and (max-width: 970px) {

  #container {
    display: flex;
    flex-direction: column;
  }

  body > main {
    margin-top: 1.5rem;
  }

  main > h1 {
    margin-bottom: 0;
  }

  #container {
    margin-top: 0;
  }

  #footer-principal {
    margin-top: 50px;
  }
}
@media screen and (max-width: 790px) {
  #footer-principal {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 550px) {

  main > h1 {
    font-size: 2.5rem;
  }

  #container {
    width: 100%;
  }

  .card-products {
    width: 300px;
  }

  #footer-principal {
    margin-top: 4.5rem;
  }
}