@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;0,800;0,900;1,600&display=swap");


:root {
  --font-text: "Montserrat", sans serif;
  --font-title: "Cormorant SC", sans serif;
  --color-primary: #fc926f;
  --color-secondary: #f28d8d;
  --color-footer: rgba(130, 142, 242, 0.5);
}

/* NESSE ARQUIVO ESTÃO OS ESTILOS DE HEADER E FOOTER*/

* {
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: var(--font-text);
}

/* HEADER */
#promotion {
  text-align: center;
  background-color: #725752;
  color: #eafdf8;
  height: 1rem;
  font-size: 0.7rem;
}

body > header {
  width: 100%;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  opacity: 0.6;
  /* position: fixed; */
  /* top: 1; */
  /* z-index: 20; */
  transition: ease-in-out 1s;
}

body > header:hover {
  opacity: 1;
}

body header #logo {
  font-size: 2rem;
  font-family: var(--font-title);
  border-bottom: 2px solid var(--color-secondary);
  font-weight: 300;
  margin-bottom: 0.8rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-right: 3.5rem;
}

nav a {
  text-decoration: none;
  color: #eafdf8;
  font-size: 1rem;
  cursor: pointer;
  transition: 1s;
}

nav > a:hover {
  color: #725752;
  border-bottom: 1px solid #f06060;
}

.dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

nav > .dropdown > a:hover,
dropdown:hover .dropbtn {
  color: #725752;
  border-bottom: 1px solid #f06060;
}

.dropdown-content {
  display: none;
  position: absolute;
  top:3.5rem;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 9;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 1rem;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#menu-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-secondary);
  padding-bottom: 0.2rem;
}

#menu-search > input {
  color: #eafdf8;
  background-color: var(--color-primary);
  font-weight: 700;
  font-size: 0.68rem;
  border: none;
}

#menu-search > input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

#menu-search > label > i {
  font-size: 1rem;
  color: var(--color-secondary);
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}

#container-hamburguer {
  z-index: 10;
  display: none;
}

#container-hamburguer label {
  cursor: pointer;
  position: relative;
  display: block;
  height: 22px;
  width: 30px;
}

#container-hamburguer label span {
  position: absolute;
  display: block;
  height: 5px;
  width: 100%;
  border-radius: 30px;
  background-color: #f16234;
  transition: 0.25s ease-in-out;
}

#container-hamburguer label #line1 {
  top: 0;
  transition: 1s;
}

#container-hamburguer label #line2 {
  top: 8px;
  transition: 0.5s;
}

#container-hamburguer label #line3 {
  top: 16px;
  transition: 1s;
}

#sidebar {
  width: 10rem;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: -20rem;
  transition: all 1s;
}

.show-menu #sidebar {
  right: 0;
}

.show-menu #line1 {
  transform: rotate(-45deg) translate(-10px, 7px);
}

.show-menu #line2 {
  opacity: 0;
}

.show-menu #line3 {
  transform: rotate(45deg) translate(-5px);
}

.menu-bar {
  position: relative;
  top: 10rem;
  right: 1rem;
}

.menu-bar li {
  list-style-type: none;
  margin-top: 0.8rem;
}

.menu-bar li:hover {
  border-left: 1px solid var(--color-secondary);
}

.menu-bar li a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  transition: 300ms ease-in-out;
}

.menu-bar li a:hover {
  color: grey;
  filter: brightness(150%);
}

i {
  cursor: pointer;
}

.fa-user {
  margin: 0.4rem;
}

/* F O O T E R */

#footer-principal {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 9rem;
}

.footer-sobre-nos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  padding: 0.9rem;
  margin-bottom: 5rem;
}

.footer-sobre-nos > h3 {
  font-family: var(--font-title);
  color: black;
  margin-bottom: 1rem;
}

.footer-sobre-nos > ul > li {
  list-style-type: none;
  margin-bottom: 1rem;
}

.footer-sobre-nos > ul > li > a {
  text-decoration: none;
  color: black;
}

.footer-sobre-nos > ul > li > a:hover {
  color: rgb(238, 195, 195);
}

#endereco {
  margin-bottom: 4rem;
}

#endereco h3 {
  font-family: var(--font-title);
  color: black;
  text-align: center;
  font-size: 2.5rem;
}

#endereco > img {
  width: 15rem;
}

@media screen and (max-width: 922px) {
  body {
    width: 100%;
    overflow-x: none;
  }

  .header-list {
    display: none;
  }

#header{
  height: 2rem;
}

#header #logo{
  font-size: 1.30rem;
}

  nav {
    display: none;
  }

  #container-hamburguer {
    display: block;
  }

  .carousel-image > img {
    width: 22rem;
    height: 9rem;
  }

  #carousel .carousel-image{
    margin-top: -15rem;
  }

  #container-banner{
    margin-top: -15rem;
  }
}