@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;0,800;0,900;1,600&display=swap");

:root {
  --font-text: "Montserrat", sans-serif;
  --font-title: "Cormorant SC", sans-serif;
  --color-primary: #fc926f;
  --color-secondary: #f28d8d;
  --color-footer: rgba(130, 142, 242, 0.5);
}

/* formulario */

main {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
}

main > h1{
  font-family: var(--font-title);
  font-size: 4rem;
  margin: 2rem;
}

form{
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: left;
  justify-content: flex-start;
}

.form-input{
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.form-input > label{
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.form-input > input:not([type = "file"]){
  height: 2rem;
  margin-left: 0.9rem;
  background-color: #ddd;
  border: none;
  border-radius: 2rem;
  text-align: center;
  color: black;
}

.form-input > input:not([type = "file"]):focus{
  outline: 0;
}

#btns{
  margin-top: 2rem;
}

.btn{
  height: 2rem;
  border-radius: 2px;
  transition: 300ms ease-in-out;
}

.btn:hover{
  background-color: #DDD;
}
