@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;0,800;0,900;1,600&display=swap');

:root{
  --font-text: 'Montserrat', sans-serif;
  --font-title: 'Cormorant SC', sans-serif;
  --color-primary: #fc926f;
  --color-secondary: #f28d8d;
  --color-footer: rgba(130, 142, 242, 0.5);
}

/*MAIN */

body > main {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main > h1{
  margin-top: 5.56rem;
}

.errors{
  border: 2px solid red;
  position: relative;
  right: 30rem;
  top: 4rem;
  padding: 1rem;
  display: none;
}

.container-main{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5.12rem;
}

.container-main > form{
  
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
}

form > .form-dados{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-dados > label{
  font-weight: 600;
  font-size: 2.2rem;
  margin-top: 1.9rem;
}

.form-dados > input{
  border: none;
  background: rgba(242, 141, 141, 0.4);
  width: 24rem;
  height: 2.6rem;
  border-radius: 50rem;
  text-align: center;
}

.form-dados > input,textarea:focus{
  outline: none !important;
  border: 1px solid var(--color-primary);
}

.container-main > div{
  width: 50%;
  padding: 0.9rem;
  text-align: justify;
}

.container-main > div > h1{
  text-align: center;
  margin-bottom: 0.9rem;
}

.form-dados > textarea{
  background: rgba(242, 141, 141, 0.4);
  border: none;
  color: white;
  font-size: 2rem;
}

form > button{
  margin-top: 2rem;
  width: 13.6rem;
  height: 4rem;
  background-color: var(--color-secondary);
  border: none;
  border-radius: 2rem;
  font-size: 3rem;
  font-family: var(--font-text);
  color: white;
  transition: ease-in-out 0.3s;
}

form > button:hover{
  background: rgba(212, 0, 0, 0.6);
}

@media screen and (max-width: 600px){
  .header-list{
    display: none;
  }

  main{
    width: 100%;
    margin: 0 auto;
  }

  main > h1{
    font-size: 1.5rem;
  }

  main > p{
    font-size: 0.7rem;
  }

  form{
    width: 100%;
  }

  .container-main{
    width: 100%;
  }

  .form-dados > label{
    font-size: 1rem;
  }

  .form-dados > input{
    width: 15rem;
  }

  form > button{
    height: 2rem;
    width: 10rem;
    font-size: 1.6rem;
  }

  .politica-qualidade{
    display: none;
  }

  footer > ul{
    position: relative;
    right: 8rem;
  }

  footer > ul > li{
    font-size: 1rem;
  }
}