<%- include("partials/header") %>
  <section id="carousel">
    <div class="carousel-image fade">
      <img src="images/banner.png" alt="" />
    </div>

    <div class="carousel-image fade">
      <img src="images/banner2.png" alt="" />
    </div>

    <div class="carousel-image fade">
      <img src="images/banner3.png" alt="" />
    </div>
  </section>

  <div id="container-banner">
    <span class="image-cont"></span>
    <span class="image-cont"></span>
    <span class="image-cont"></span>
  </div>

  <div class="pag-divisor"></div>

  <section id="categorias">
    <h1>CATEGORIAS</h1>
    <div class="container-cards">
      <div class="card-categorias">
        <a href="/pagina-produtos"><img src="images/aneis.jpg" alt="Vá para categoria anéis" /></a>
        <h2>Anéis</h2>
      </div>
      <div class="card-categorias">
        <a href="/produtos"><img src="images/relogios.jpg" alt="Vá para categoria Relógios" /></a>
        <h2>Relógios</h2>
      </div>
      <div class="card-categorias">
        <a href="/produtos"><img src="images/correntes.jpg" alt="Vá para categoria Correntes" /></a>
        <h2>Correntes</h2>
      </div>
      <div class="card-categorias">
        <a href="/produtos"><img src="images/brincos.jpg" alt="Vá para categoria brincos" /></a>
        <h2>Brincos</h2>
      </div>
      <div class="card-categorias">
        <a href="/produtos"><img src="images/alianca.png" alt="Vá para categoria brincos" /></a>
        <h2>Alianças</h2>
      </div>
    </div>
  </section>

  <div class="pag-divisor"></div>

  <section id="produtos">
    <h1>Produtos</h1>

    <div class="container-produtos">


      <div class="card-produtos">
        <header>
          <a href="./public/views/produto-interno.html">
            <img src="images/anel1.webp" alt="">
          </a>
        </header>
        <footer>
          <p class="lancamento">Lançamento</p>
          <p>Anel de Diamantes</p>
          <p>R$ 51.200,00</p>
          <p>10x sem juros de R$5.200,00</p>
          <a href="./public/views/pagina-carrinho.html">Adicione ao carrinho</a>
        </footer>
      </div>


      <div class="card-produtos">
        <header>
          <a href="./public/views/produto-interno.html">
            <img src="images/anel1.webp" alt="">
          </a>
        </header>
        <footer>
          <p class="lancamento">Lançamento</p>
          <p>Anel de Diamantes</p>
          <p>R$ 51.200,00</p>
          <p>10x sem juros de R$5.200,00</p>
          <a href="/pagina-carrinho">Adicione ao carrinho</a>
        </footer>
      </div>

      <div class="card-produtos">
        <header>
          <a href="./public/views/produto-interno.html">
            <img src="images/anel1.webp" alt="">
          </a>
        </header>
        <footer>
          <p class="lancamento">Lançamento</p>
          <p>Anel de Diamantes</p>
          <p>R$ 51.200,00</p>
          <p>10x sem juros de R$5.200,00</p>
          <a href="/pagina-carrinho">Adicione ao carrinho</a>
        </footer>
      </div>
    </div>

    <div id="divisor-pagina1"></div>
    <div id="logo">
      <h2>JewelrY Store</h2>
    </div>
    <div class="divisor-pagina2"></div>
  </section>
  <script src="javascript/carousel-banner.js" defer></script>
  <%- include("partials/footer") %>
    