<%- include("partials/header") %>

    <main>

      <section id="carousel">
        <div class="carousel-image fade">
          <img src="images/banner.png" alt=""/>
        </div>
  
        <div class="carousel-image fade">
          <img src="images/banner2.png" alt=""/>
        </div>
  
        <div class="carousel-image fade">
          <img src="images/banner3.png" alt=""/>
        </div>
      </section>
      
          <div id="container-banner">
            <span class="image-cont"></span>
            <span class="image-cont"></span>
            <span class="image-cont"></span>
          </div>

      <section id="categorias">
        <div class="navegue-categorias">
          <h2>NAVEGUE POR CATEGORIAS</h2>
          <h3>Faça da vida um desfile, invista em acessórios e joias</h3>
          </div>
        <div class="container-cards">
          <div class="card-categorias">
            <a href="./pagina-products.html"
            ><img src="images/aneis.jpg" alt="Vá para categoria anéis"
            /></a>
            <h2>Anéis</h2>
          </div>
          <div class="card-categorias">
            <a href="./pagina-products.html"
            ><img
            src="images/relogios.jpg"
            alt="Vá para categoria Relógios"
            /></a>
            <h2>Relógios</h2>
          </div>
          <div class="card-categorias">
            <a href="./pagina-products.html"
            ><img
            src="images/correntes.jpg"
            alt="Vá para categoria Correntes"
            /></a>
            <h2>Correntes</h2>
          </div>
          <div class="card-categorias">
            <a href="./pagina-products.html"
            ><img
            src="images/brincos.jpg"
            alt="Vá para categoria brincos"
            /></a>
            <h2>Brincos</h2>
          </div>
          <div class="card-categorias">
            <a href="./pagina-products.html"
            ><img
            src="images/alianca.png"
            alt="Vá para categoria brincos"
            /></a>
            <h2>Alianças</h2>
          </div>
        </div>
      </section>

      <section class="best-sellers">
        <div id="titulo">
        <h2>Queridinhos do ano</h2>
        <h3>Confira os Produtos mais vendidos</h3>
          </div>
        <div class="card-best-sellers">
          <header>
            <a href="./produto-interno.html">
              <img src="images/anel1.webp" alt="">
            </a>
          </header>
          <footer>
            <p class="lancamento">Mais vendido</p>
            <p class="title-produto">Anel de Diamantes</p>
            <div class="div-valor-produtos">
            <p class="valor-produto">R$ 51.200,00</p>
            <p class="juros">10x sem juros de R$5.200,00</p>
            <a href="./pagina-carrinho.html">Adicione ao carrinho</a>
            </div>
          </footer>
        </div>

        <div class="card-best-sellers">
          <header>
            <a href="./produto-interno.html">
              <img src="images/anel1.webp" alt="">
            </a>
          </header>
          <footer>
            <p class="lancamento">Mais vendido</p>
            <p class="title-produto">Anel de Diamantes</p>
            <div class="div-valor-produtos">
            <p class="valor-produto">R$ 51.200,00</p>
            <p class="juros">10x sem juros de R$5.200,00</p>
            <a href="./pagina-carrinho.html">Adicione ao carrinho</a>
            </div>
          </footer>
        </div>
        </div>
      </section>

            <h1 class="class-produtos">PRODUTOS</h1>

      <div class="filtro">
        <ul>
          <li>CATEGORIA <img src="../img/seta.png" alt=""></li>
          <li>SUBCATEGORIAS <img src="../img/seta.png" alt=""></li>
          <li>COLEÇÃO <img src="../img/seta.png" alt=""></li>
          <li>MATERIAL <img src="../img/seta.png" alt=""></li>
          <li>PEDRAS <img src="../img/seta.png" alt=""></li>
          <li>ORGANIZAR POR: <img src="../img/seta.png" alt=""></li>
        </ul>
      </div>

      <div class ="container-produtos">
        <div class="card-produtos">
          <header>
            <a href="./produto-interno.html">
              <img src="images/anel1.webp" alt="">
            </a>
          </header>
          <footer>
            <p class="lancamento">Lançamento</p>
            <p class="title-produto">Anel de Diamantes</p>
            <div class="div-valor-produtos">
            <p class="valor-produto">R$ 51.200,00</p>
            <p class="juros">10x sem juros de R$5.200,00</p>
            <a href="./pagina-carrinho.html">Adicione ao carrinho</a>
            </div>
          </footer>
        </div>

        <div class="card-produtos">
          <header>
            <a href="./produto-interno.html">
              <img src="images/anel1.webp" alt="">
            </a>
          </header>
          <footer>
            <p class="lancamento">Lançamento</p>
            <p class="title-produto">Anel de Diamantes</p>
            <div class="div-valor-produtos">
            <p class="valor-produto">R$ 51.200,00</p>
            <p class="juros">10x sem juros de R$5.200,00</p>
            <a href="./pagina-carrinho.html">Adicione ao carrinho</a>
            </div>
          </footer>
        </div>

        <div class="card-produtos">
          <header>
            <a href="./produto-interno.html">
              <img src="images/anel1.webp" alt="">
            </a>
          </header>
          <footer>
            <p class="lancamento">Lançamento</p>
            <p class="title-produto">Anel de Diamantes</p>
            <div class="div-valor-produtos">
            <p class="valor-produto">R$ 51.200,00</p>
            <p class="juros">10x sem juros de R$5.200,00</p>
            <a href="./pagina-carrinho.html">Adicione ao carrinho</a>
            </div>
          </footer>
        </div>

        <div class="card-produtos">
          <header>
            <a href="./produto-interno.html">
              <img src="images/anel1.webp" alt="">
            </a>
          </header>
          <footer>
            <p class="lancamento">Lançamento</p>
            <p class="title-produto">Anel de Diamantes</p>
            <div class="div-valor-produtos">
            <p class="valor-produto">R$ 51.200,00</p>
            <p class="juros">10x sem juros de R$5.200,00</p>
            <a href="./pagina-carrinho.html">Adicione ao carrinho</a>
            </div>
          </footer>
        </div>

        <div class="card-produtos">
          <header>
            <a href="./produto-interno.html">
              <img src="images/anel1.webp" alt="">
            </a>
          </header>
          <footer>
            <p class="lancamento">Lançamento</p>
            <p class="title-produto">Anel de Diamantes</p>
            <div class="div-valor-produtos">
            <p class="valor-produto">R$ 51.200,00</p>
            <p class="juros">10x sem juros de R$5.200,00</p>
            <a href="./pagina-carrinho.html">Adicione ao carrinho</a>
            </div>
          </footer>
        </div>

        <div class="card-produtos">
          <header>
            <a href="./produto-interno.html">
              <img src="images/anel1.webp" alt="">
            </a>
          </header>
          <footer>
            <p class="lancamento">Lançamento</p>
            <p class="title-produto">Anel de Diamantes</p>
            <div class="div-valor-produtos">
            <p class="valor-produto">R$ 51.200,00</p>
            <p class="juros">10x sem juros de R$5.200,00</p>
            <a href="./pagina-carrinho.html">Adicione ao carrinho</a>
            </div>
          </footer>
        </div>

        <div class="card-produtos">
          <header>
            <a href="./produto-interno.html">
              <img src="images/anel1.webp" alt="">
            </a>
          </header>
          <footer>
            <p class="lancamento">Lançamento</p>
            <p class="title-produto">Anel de Diamantes</p>
            <div class="div-valor-produtos">
            <p class="valor-produto">R$ 51.200,00</p>
            <p class="juros">10x sem juros de R$5.200,00</p>
            <a href="./pagina-carrinho.html">Adicione ao carrinho</a>
            </div>
          </footer>
        </div>

        <div class="card-produtos">
          <header>
            <a href="./produto-interno.html">
              <img src="images/anel1.webp" alt="">
            </a>
          </header>
          <footer>
            <p class="lancamento">Lançamento</p>
            <p class="title-produto">Anel de Diamantes</p>
            <div class="div-valor-produtos">
            <p class="valor-produto">R$ 51.200,00</p>
            <p class="juros">10x sem juros de R$5.200,00</p>
            <a href="./pagina-carrinho.html">Adicione ao carrinho</a>
            </div>
          </footer>
        </div>
        <div class="card-produtos">
          <header>
            <a href="./produto-interno.html">
              <img src="images/anel1.webp" alt="">
            </a>
          </header>
          <footer>
            <p class="lancamento">Lançamento</p>
            <p class="title-produto">Anel de Diamantes</p>
            <div class="div-valor-produtos">
            <p class="valor-produto">R$ 51.200,00</p>
            <p class="juros">10x sem juros de R$5.200,00</p>
            <a href="./pagina-carrinho.html">Adicione ao carrinho</a>
            </div>
          </footer>
        </div>

        <div class="card-produtos">
          <header>
            <a href="./produto-interno.html">
              <img src="images/anel1.webp" alt="">
            </a>
          </header>
          <footer>
            <p class="lancamento">Lançamento</p>
            <p class="title-produto">Anel de Diamantes</p>
            <div class="div-valor-produtos">
            <p class="valor-produto">R$ 51.200,00</p>
            <p class="juros">10x sem juros de R$5.200,00</p>
            <a href="./pagina-carrinho.html">Adicione ao carrinho</a>
            </div>
          </footer>
        </div>

        <div class="card-produtos">
          <header>
            <a href="./produto-interno.html">
              <img src="images/anel1.webp" alt="">
            </a>
          </header>
          <footer>
            <p class="lancamento">Lançamento</p>
            <p class="title-produto">Anel de Diamantes</p>
            <div class="div-valor-produtos">
            <p class="valor-produto">R$ 51.200,00</p>
            <p class="juros">10x sem juros de R$5.200,00</p>
            <a href="./pagina-carrinho.html">Adicione ao carrinho</a>
            </div>
          </footer>
        </div>

        <div class="card-produtos">
          <header>
            <a href="./produto-interno.html">
              <img src="images/anel1.webp" alt="">
            </a>
          </header>
          <footer>
            <p class="lancamento">Lançamento</p>
            <p class="title-produto">Anel de Diamantes</p>
            <div class="div-valor-produtos">
            <p class="valor-produto">R$ 51.200,00</p>
            <p class="juros">10x sem juros de R$5.200,00</p>
            <a href="./pagina-carrinho.html">Adicione ao carrinho</a>
            </div>
          </footer>
        </div>

        <div class="card-produtos">
          <header>
            <a href="./produto-interno.html">
              <img src="images/anel1.webp" alt="">
            </a>
          </header>
          <footer>
            <p class="lancamento">Lançamento</p>
            <p class="title-produto">Anel de Diamantes</p>
            <div class="div-valor-produtos">
            <p class="valor-produto">R$ 51.200,00</p>
            <p class="juros">10x sem juros de R$5.200,00</p>
            <a href="./pagina-carrinho.html">Adicione ao carrinho</a>
            </div>
          </footer>
        </div>

        <div class="card-produtos">
          <header>
            <a href="./produto-interno.html">
              <img src="images/anel1.webp" alt="">
            </a>
          </header>
          <footer>
            <p class="lancamento">Lançamento</p>
            <p class="title-produto">Anel de Diamantes</p>
            <div class="div-valor-produtos">
            <p class="valor-produto">R$ 51.200,00</p>
            <p class="juros">10x sem juros de R$5.200,00</p>
            <a href="./pagina-carrinho.html">Adicione ao carrinho</a>
            </div>
          </footer>
        </div>

        <div class="card-produtos">
          <header>
            <a href="./produto-interno.html">
              <img src="images/anel1.webp" alt="">
            </a>
          </header>
          <footer>
            <p class="lancamento">Lançamento</p>
            <p class="title-produto">Anel de Diamantes</p>
            <div class="div-valor-produtos">
            <p class="valor-produto">R$ 51.200,00</p>
            <p class="juros">10x sem juros de R$5.200,00</p>
            <a href="./pagina-carrinho.html">Adicione ao carrinho</a>
            </div>
          </footer>
        </div>

        <div class="card-produtos">
          <header>
            <a href="./produto-interno.html">
              <img src="images/anel1.webp" alt="">
            </a>
          </header>
          <footer>
            <p class="lancamento">Lançamento</p>
            <p class="title-produto">Anel de Diamantes</p>
            <div class="div-valor-produtos">
            <p class="valor-produto">R$ 51.200,00</p>
            <p class="juros">10x sem juros de R$5.200,00</p>
            <a href="./pagina-carrinho.html">Adicione ao carrinho</a>
            </div>
          </footer>
        </div>

        <div class="card-produtos">
          <header>
            <a href="./produto-interno.html">
              <img src="images/anel1.webp" alt="">
            </a>
          </header>
          <footer>
            <p class="lancamento">Lançamento</p>
            <p class="title-produto">Anel de Diamantes</p>
            <div class="div-valor-produtos">
            <p class="valor-produto">R$ 51.200,00</p>
            <p class="juros">10x sem juros de R$5.200,00</p>
            <a href="./pagina-carrinho.html">Adicione ao carrinho</a>
            </div>
          </footer>
        </div>

        <div class="card-produtos">
          <header>
            <a href="./produto-interno.html">
              <img src="images/anel1.webp" alt="">
            </a>
          </header>
          <footer>
            <p class="lancamento">Lançamento</p>
            <p class="title-produto">Anel de Diamantes</p>
            <div class="div-valor-produtos">
            <p class="valor-produto">R$ 51.200,00</p>
            <p class="juros">10x sem juros de R$5.200,00</p>
            <a href="./pagina-carrinho.html">Adicione ao carrinho</a>
            </div>
          </footer>
        </div>

        <div class="card-produtos">
          <header>
            <a href="./produto-interno.html">
              <img src="images/anel1.webp" alt="">
            </a>
          </header>
          <footer>
            <p class="lancamento">Lançamento</p>
            <p class="title-produto">Anel de Diamantes</p>
            <div class="div-valor-produtos">
            <p class="valor-produto">R$ 51.200,00</p>
            <p class="juros">10x sem juros de R$5.200,00</p>
            <a href="./pagina-carrinho.html">Adicione ao carrinho</a>
            </div>
          </footer>
        </div>

        <div class="card-produtos">
          <header>
            <a href="./produto-interno.html">
              <img src="images/anel1.webp" alt="">
            </a>
          </header>
          <footer>
            <p class="lancamento">Lançamento</p>
            <p class="title-produto">Anel de Diamantes</p>
            <div class="div-valor-produtos">
            <p class="valor-produto">R$ 51.200,00</p>
            <p class="juros">10x sem juros de R$5.200,00</p>
            <a href="./pagina-carrinho.html">Adicione ao carrinho</a>
            </div>
          </footer>
        </div>

        <div class="card-produtos">
          <header>
            <a href="./produto-interno.html">
              <img src="images/anel1.webp" alt="">
            </a>
          </header>
          <footer>
            <p class="lancamento">Lançamento</p>
            <p class="title-produto">Anel de Diamantes</p>
            <div class="div-valor-produtos">
            <p class="valor-produto">R$ 51.200,00</p>
            <p class="juros">10x sem juros de R$5.200,00</p>
            <a href="./pagina-carrinho.html">Adicione ao carrinho</a>
            </div>
          </footer>
        </div>
        
        </div>
        <div id="divisor-pagina1"></div>
        <div id="logo"><h2>byJulia</h2></div>
        <div class="divisor-pagina2"></div>
    </main>
    <%- include("partials/footer") %>