<script src="../javascript/pagina.carrinho.js" defer></script>
<%- include("partials/header") %>
      <main>
        <h1>Cesta de compras</h1>
        <div id="container">
           <section id="cestaProdutos">
            <div class="card-products">
              <figure>
                <img src="images/anel1.webp" alt="imagem-produto">
              </figure>
              <h2>Anel de Ouro 18k</h2>
              <div class="card-button">
                <button id="buttonDecrement">-</button>
                <input type="text" value="0" disabled id="counterValue">
                <button id="buttonIncrement">+</button>
              </div>
              <p>R$ </p><p id = "preco"></p>
            </div>
            <div class="card-products">
              <figure>
                <img src="images/anel1.webp" alt="imagem-produto">
              </figure>
              <h2>Anel de Ouro 18k</h2>
              <div class="card-button">
                <button id="buttonDecrement">-</button>
                <input type="text" value="0" disabled id="counterValue">
                <button id="buttonIncrement">+</button>
              </div>
              <p>R$ 1.500,00</p>
            </div>
          </section>
          <section id="resumoProdutos">
            <h2>Resumo Pedido</h2>
            <h5>2 produtos</h5>
            <button type="button">Finalizar Compra</button>
            <a href="../views/pagina-products.html">Adicionar</a>
          </section>
        </div>
      </main>    

<%- include("partials/footer") %>