<%- include("partials/header") %>
    <main>
        <section class="painel-do-usuário">
            <div>
                <h1>Painel do Usuário</h1>
            </div>
            <section>
                <div class="container-1">
                    <div class="container-nome-idade">
                        <img
                            src="https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                            alt="">
                        <div>
                            <div>
                                <h3>Eduardo de Souza</h3>
                                <span class="editar">&#9998;</span>
                            </div>

                            <div>
                                <h4>29 anos</h4>
                                <span class="editar">&#9998;</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="container-ultimas-compras">
                        <div>
                            <h2>Ultimas compras:</h2>
                        </div>
                        <div class="produtos">
                            
                            <section class="valor-produtos">
                                
                              <div>  
                                <img src="images/anel1.webp" alt=""> 
                              </div>
                                <p class="lancamento">Lançamento</p>                              
                                <p class="title-produto">Anel de Diamantes</p>
                                <p class="valor-produto">R$ 51.200,00</p>
                                <p class="juros">10x sem juros de R$51.200,00</p>
                                <a href="./public/views/pagina-carrinho.html">Adicione ao carrinho</a>
                              
                            </section>
                            <section class="valor-produtos">
                                
                                <div>  
                                  <img src="images/anel1.webp" alt=""> 
                                </div> 
                                <p class="lancamento">Lançamento</p> 
                                <p class="title-produto">Anel de Diamantes</p>
                                <p class="valor-produto">R$ 51.200,00</p>
                                <p class="juros">10x sem juros de R$51.200,00</p>
                                <a href="./public/views/pagina-carrinho.html">Adicione ao carrinho</a>
                              
                            </section>
                            <section class="valor-produtos">
                                
                                    <div>  
                                    <img src="images/anel1.webp" alt=""> 
                                    </div> 
                                    <p class="lancamento">Lançamento</p> 
                                    <p class="title-produto">Anel de Diamantes</p>
                                    <p class="valor-produto">R$ 51.200,00</p>
                                    <p class="juros">10x sem juros de R$51.200,00</p>
                                    <a href="./public/views/pagina-carrinho.html">Adicione ao carrinho</a>
                            </section>
                        </div>  
                                
                    </div>     
                           
                </div>       
                            
                    
                <div class="container-2">
                    <div>
                        <div>
                            <span>
                                Endereço:
                            </span>
                            <span class="editar">&#9998;</span>
                        </div>
                        
                        <p>rua dezesseis, 531, extensão
                            serramar, rio das ostras - rj</p>
                    </div>
                    <div>
                        <div>
                            <span>
                                Email:
                            </span>
                            <span class="editar">&#9998;</span>
                        </div>
                        
                        <p>edudesouza01@digitalhouse.com</p>
                    </div>
                    <div>
                        <div>
                            <span>
                                Senha: 
                            </span>
                            <span class="editar">&#9998;</span>
                        </div>
                        
                        <p>******</p>
                    </div>
                    <div>
                        <div>
                            <span>
                                Endereço de entrega: 
                            </span>
                            <span class="editar">&#9998;</span>
                        </div>
                        
                        <p>rua Paraíba, 666, Abricó das Alamedas - Fortaleza - RJ</p>
                    </div>
                    <div>
                        <div>
                            <span>
                                Telefone: 
                            </span>
                            <span class="editar">&#9998;</span>
                        </div>
                        
                        <p>(xx) 9xxxx-xxxx</p>
                    </div>
                </div>
                
            </section>


        </section>
    </main>
<%- include("partials/footer") %>